.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.searchResult:hover {
    opacity: 0.7;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.searchResult_heart {
    position: absolute;
    top: 20px;
    right: 40px;
    color: red;
}

.searchResult_info_top {
    width: 40vw;
}
.searchResult_info_top > h3 {
    font-weight: 300;
    margin-top: 10px;
}
.searchResult_info_top > p {
    margin-top: 10px;
    color: gray;
    font-size: 13px;

}

.searchResult_info_bottom {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.searchResult_stars_box {
    display: flex;
    align-items: center;
}
.searchResult_star {
    color: red;
}

.searchResult_price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.searchResult_price > p {
    text-align: right;
}